<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>START</title>
</head>
<body>
<center>
<div>hello user</div>
<a href="/main">main</a>
    <br/>
<a href="/registration">new user</a>

</center>
</body>
</html>